app-header {
    display: flex;
    padding: 20px;
    // width: 100%;
    min-height: 20px;
    background-image: url(/assets/img/header.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    box-shadow: 0px 0px 5px 2px gainsboro;
}

#j-header-menu-list {
    position: absolute; 
    top: 10px;
    right: 10px;

    button#j-header-menu {
        color: white;
        &>:focus {
            border: none;
        }
    }
}
